{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>搜索结果 -- 是</title>
        <!-- Bootstrap -->
        <link href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'byrbbs/searchstyle.css' %}">
    </head>
    
    <body>
        <div id="header">
            <div class="header-brand">
                <a href="/byrbbs">Cxcsearch</a></div>
            <div class="header-search">
                <form id="form" method="GET" action="/byrbbs/">
                    <input type="text" id="bbssearch" name="key" maxlength="40" value="是">
                    <button type="submit" id="search-button" class="search-button">搜 索</button></form>
            </div>
        </div>
        <div class="container">
            <div class="declare">
                <div class="list-declare box">本站是一个bbs内容搜索引擎，从byrbbs抓取数据，用于学习，分析和研究。内容是本站根据您的指令自动搜索的结果，不代表本站赞成资源的内容或立场，文章的版权归论坛和文章作者所有。</div>
                <div style="margin-top:30px">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- search_side -->
                    <ins class="adsbygoogle" style="display:inline-block;width:160px;height:600px" data-ad-client="ca-pub-7332390308156427" data-ad-slot="9194146799"></ins>
                    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div>
            </div>
            <div class="list-container">
                <div class="list-main">
                    <p class="list-info">Icysearch 搜索耗时 0.00918889045715 秒</p></div>
                <div class="list-pagination" id="page">
                    <a href="?key=是&p=0" jp-role="last" jp-data="上一页">上一页</a>
                    <a href="?key=是&p=1" jp-role="page" jp-data="1" class="active">1</a>
                    <a href="?key=是&p=2" jp-role="page" jp-data="2">2</a>
                    <a href="?key=是&p=3" jp-role="page" jp-data="3">3</a>
                    <a href="?key=是&p=4" jp-role="page" jp-data="4">4</a>
                    <a href="?key=是&p=5" jp-role="page" jp-data="5">5</a>
                    <a href="?key=是&p=6" jp-role="page" jp-data="6">6</a>
                    <a href="?key=是&p=7" jp-role="page" jp-data="7">7</a>
                    <a href="?key=是&p=8" jp-role="page" jp-data="8">8</a>
                    <a href="?key=是&p=9" jp-role="page" jp-data="9">9</a>
                    <a href="?key=是&p=2" jp-role="last" jp-data="下一页">下一页</a></div>
            </div>
        </div>
        <!-- head -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- head -->
        <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-7332390308156427" data-ad-slot="7509250797"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        <div class="row">
            <div id="footer-2">
                <h5>Copyright © 2016 BUPT::Cxc_17 &nbsp;|
                    <a href="mailto: caixiaochuan@sina.cn">&nbsp;联系我们</a></h5>
            </div>
        </div>
    </body>

</html>