{% load staticfiles %}
{% load byrbbs_extras %}

<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ key }}_论坛搜索</title>
        <link rel="icon" sizes="any" mask="" href="{% static 'byrbbs/images/logo_title.png' %}">
        <link href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
        <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
	    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'byrbbs/search_style.css' %}">
    </head>

    <script>
        $(document).ready(function(){
            $("#UserModal").on("hidden.bs.modal", function() {
                $(this).removeData("bs.modal");
            });
        });
    </script>

    <body>
        <div id="header">
            <div class="header-brand">
                <a href="/byrbbs">
                <img src="{% static 'byrbbs/images/logo.png' %}"  width="100" height="28">
                </a></div>
            <div class="header-search">
                <form id="form" method="GET" action="/byrbbs/">
                    <input type="text" id="bbssearch" name="key" maxlength="40" value="{{ key }}">
                    <button type="submit" id="search-button" class="search-button">搜 索</button></form>
            </div>
            <div id="header-navigation">
                <a href="/byrbbs/?key={{ key }}">网页</a>
                <a href="/byrbbs/?key={{ key }}">用户</a>


                <div class="btn-group">
                    <div class="asd" style="cursor: pointer;:hover{ color:#666262; }" id="menu1" data-toggle="dropdown">时间不限<span class="caret"></span></div>
                    <ul class="dropdown-menu">
                        <li>
                             <a href="#">操作</a>
                        </li>
                        <li class="disabled">
                             <a href="#">另一操作</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                             <a href="#">其它</a>
                        </li>
                    </ul>
                </div>



            </div>
        </div>


        <div class="container">
{#            <div class="declare">#}
{#                <div class="list-declare box">本站是一个bbs内容搜索引擎，从byrbbs抓取数据，用于学习，分析和研究。内容是本站根据您的指令自动搜索的结果，不代表本站赞成资源的内容或立场，文章的版权归论坛和文章作者所有。</div>#}
{#            </div>#}
            <br/>
            <div class="list-container">
                <div class="list box">
                    <p id="list-info">
                        {% if page > 1%}
                            找到 {{ search_count|search_count }} 条结果，以下是第 {{ page }} 页 ( 用时{{ search_time|search_time }}秒 )
                        {% else %}
                            找到 {{ search_count|search_count }} 条结果 ( 用时{{ search_time|search_time }}秒 )
                        {% endif %}
                    </p>
                </div>
                {% if search_count == 0%}
                    <div class="list box">
                        <p style="padding-top:.33em"> 抱歉，没有找到和您查询的"<b>{{ key }}</b>"相符的内容。</p>
                        <p style="margin-top:1em">建议：
                        <ul >
                            <li>请检查输入字词有无错误。</li>
                            <li>请尝试其他查询词。</li>
                            <li>请改用较常见的字词。</li>
                        </ul>
                    <br/><br/><br/><br/><br/><br/><br/><br/>
                    <br/><br/><br/><br/><br/><br/><br/><br/>
                    <br/><br/><br/><br/><br/><br/><br/>
                    </div>
                {% endif %}

                {% for result in search_result %}
                    <div class="list box">
                        <h4>
                            <a href={{ result.url }} target="_blank">
                                {{ result.title}}
                            </a>
                        </h4>
                        <br/>
                        <div>
                            <span>
                            <a href={{ result.url }} target="_blank">
                                {{ result.url}}
                            </a>&nbsp;&nbsp;
                                {% if result.board_name %}
                                    发帖者：
                                {% else %}
                                    跟帖者：
                                {% endif %}
                            </span>
                            <a href="/byrbbs/user?uid={{ result.user_id }}" data-toggle="modal" data-target="#UserModal">
                                {{ result.user_id|search_key:key|safe }}({{ result.user_name|search_key:key|safe }})
                            </a>
                            <span>
                                &nbsp;&nbsp;{{ result.publish_time|date:"D M d H:i:s Y" }}
                            </span>
                        </div>
                        <br/>
                        <p>{{ result.content|content_output_max}}</p>
                    </div>
                {% endfor %}
            <br/>
                {% if page_max > 1%}
                <div class="list-pagination" id="page">
                    {% if page > 1%}
                        <a href="?key={{ key }}&p={{ page|add:"-1" }}" jp-role="last" jp-data="上一页">&lt;上一页</a>
                    {% endif %}

                    {% for page_num in page|page_list_pre %}
                        <a href="?key={{ key }}&p={{ page_num }}" jp-role="page" jp-data={{ page_num }}>{{ page_num }}</a>
                    {% endfor %}

                    <a href="?key={{ key }}&p={{ page }}" jp-role="page" jp-data="1" class="active">{{ page }}</a>

                    {% for page_num in page|page_list_next:page_max %}
                        <a href="?key={{ key }}&p={{ page_num }}" jp-role="page" jp-data={{ page_num }}>{{ page_num }}</a>
                    {% endfor %}

                    {% if page < page_max%}
                        <a href="?key={{ key }}&p={{ page|add:"1" }}" jp-role="last" jp-data="下一页">下一页&gt;</a>
                    {% endif %}
                </div>
                {% endif %}

            <br/>
            </div>
        </div>

        <div class="row">
            <div id="footer-2">
                <h5>Copyright © 2016 BUPT::Cxc_17 &nbsp;|
                    <a href="mailto: caixiaochuan@sina.cn">&nbsp;联系我们</a></h5>
            </div>
        </div>

        {# 用户信息模态框 #}
        <div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
{#                    <div class="modal-header">#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">#}
{#                            &times;#}
{#                        </button>#}
{#                        <h5 class="modal-title" id="myModalLabel">#}
{#                            用户信息#}
{#                        </h5>#}
{#                    </div>#}
{#	                <div class="row clearfix">#}
{#                        <div style="padding-left: 3%">#}
{#                            <span style="color: #5384DA;line-height: 50px">one</span> 发问候信 | 加为好友#}
{#                            <br/>#}
{#                            <span style="color: #5384DA;">基本信息</span>#}
{#                        </div>#}
{#                        <HR  width="94%" color=#987cb9 style="padding-top: 0px">#}
{#                        <div class="col-md-3 column">#}
{#                            <img alt="150x150" src="https://static.byr.cn/uploadFace/B/btx.929.jpg" />#}
{#                            <span style="color: #5384DA;line-height: 50px">论坛属性</span>#}
{#                        </div>#}
{#                        <div class="col-md-9 column">#}
{#                            <dl style="font-size: 15px">#}
{#                                <dt>#}
{#                                    昵 称:&nbsp;&nbsp;description#}
{#                                </dt>#}
{#                                <dt>#}
{#                                    性 别:&nbsp;&nbsp;dsadescription#}
{#                                </dt>#}
{#                                <dt>#}
{#                                    星 座:&nbsp;&nbsp;dsadescription#}
{#                                </dt>#}
{#                                <dt>#}
{#                                    &nbsp;&nbsp;QQ:&nbsp;&nbsp;dsadescription#}
{#                                </dt>#}
{#                                <dt>#}
{#                                     MSN:&nbsp;&nbsp;dsadescription#}
{#                                </dt>#}
{#                                <dt>#}
{#                                    主 页:&nbsp;&nbsp;dsadescription#}
{#                                </dt>#}
{#                            </dl>#}
{#                        </div>#}
{##}
{#                        <HR  width="94%" color=#987cb9 style="padding-top: 0px">#}
{##}
{#                    </div>#}
{##}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭#}
{#                        </button>#}
{#                    </div>#}
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

    </body>
</html>