{% load staticfiles %}
{% load user_extras %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ user_id }}_论坛百科</title>
        <link rel="icon" sizes="any" mask="" href="{% static 'byrbbs/images/logo_title.png' %}">
        <link href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'byrbbs/userInfo_style.css' %}">
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
    </head>
    <body>
        <div id="header">
            <div id="header-brand">
                <a href="/byrbbs"><img src="{% static 'byrbbs/images/logo.png' %}"  width="100" height="28"></a>
                <div id="menu_total_active"><a href="/byrbbs/?type=user">用户</a></div>
                <div id="menu_total"><a href="/byrbbs/data">数据</a></div>
                <div id="menu_total"><a href="/byrbbs/">首页</a></div>
            </div>
        </div>
        <div id='user_content'>
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">{{ user_id }}({{ user_info.user_name }})</h3>
            </div>

            <div class="row">
                <div class="col-md-12 column">
                    <br><span id="headline-1">基本信息</span><br><br>
                </div>
                <HR  width="94%" color=#987cb9>
                <div class="col-md-3 column" style="padding-left: 5%">
                    <img width={{ user_info.face_width|image_length }}px height={{ user_info.face_height|image_length }}px src={{ user_info.face_url }} />
                </div>
                <div class="col-md-9 column">
                    <dl>
                        <dd>昵 称:&nbsp;&nbsp;{{ user_info.user_name }}</dd>
                        <dd>性 别:&nbsp;&nbsp;{{ user_info.gender }}</dd>
                        <dd>星 座:&nbsp;&nbsp;{{ user_info.astro }}</dd>
                        <dd>&nbsp;&nbsp;QQ:&nbsp;&nbsp;{{ user_info.qq }}</dd>
                        <dd> MSN:&nbsp;&nbsp;{{ user_info.msn }}</dd>
                        <dd>主 页:&nbsp;&nbsp;{{ user_info.home_page }}</dd>
                    </dl>
                </div>
                <div class="col-md-12 column">
                    <span class="bbs_span">论坛属性</span>
                </div>
                <HR  width="94%" color=#987cb9>
                <div class="col-md-12 column">
                    <dl>
                        <dd id="bbs_art">论坛等级:&nbsp;&nbsp;&nbsp;{{ user_info.level }}</dd>
                        <dd id="bbs_art">帖子总数:&nbsp;&nbsp;&nbsp;{{ user_info.post_count }}篇</dd>
                        <dd id="bbs_art">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;积分:&nbsp;&nbsp;&nbsp;{{ user_info.score }}</dd>
                        <dd id="bbs_art">&nbsp;&nbsp;&nbsp;生命力:&nbsp;&nbsp;&nbsp;{{ user_info.life }}</dd>
                        <dd id="bbs_art">上次登录:&nbsp;&nbsp;&nbsp;{{ user_info.last_login_time }}</dd>
                        <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最后访问IP:&nbsp;&nbsp;&nbsp;{{ user_info.last_login_ip }}{{ user_info|last_site }}</dd>
                        <dd id="bbs_art">当前状态:&nbsp;&nbsp;&nbsp;{{ user_info.status }}</dd>
                    </dl>
                </div>

                <div class="col-md-12 column">
                    <br><span id="headline-1">发帖数据</span><br><br>
                </div>
                <HR  width="94%" color=#987cb9>

                {% if user_info.post_num == 0 %}
                    <dl>
                        <dd id="bbs_art">&nbsp;该用户很懒，还没有发帖数据。</dd>
                    </dl>
                {% else %}
                    <dl>
                        <dd id="bbs_art">&nbsp;发帖总数:&nbsp;&nbsp;&nbsp;{{ user_info.post_num }}篇</dd>
                        <dd id="bbs_art">&nbsp;最近一篇:&nbsp;&nbsp;&nbsp;<a href={{ last_post.url }} target="_blank">{{ last_post.title }}</a></dd>
                    </dl>
                    <br>
                    <div class="col-md-12 column">
                        <div id="post_date" class="chart"></div>
                        <script type="text/javascript">
                            var myChart = echarts.init(document.getElementById('post_date'));

                            option = {
                                title: {
                                    text: '发帖日期分布',
                                    x: 'center'
                                },
                                tooltip: {
                                    trigger: 'axis',
                                    axisPointer: {
                                        animation: false
                                    }
                                },
                                legend: {
                                    data:['发帖数'],
                                    x: 'left'
                                },
                                toolbox: {
                                    feature: {
                                        dataZoom: {
                                            yAxisIndex: 'none'
                                        },
                                        restore: {},
                                        saveAsImage: {}
                                    }
                                },
                                dataZoom: [
                                    {
                                        show: true,
                                        realtime: true,
                                        start: 0,
                                        end: 100
                                    }
                                ],
                                xAxis : [
                                    {
                                        name : '日期',
                                        type : 'category',
                                        boundaryGap : false,
                                        axisLine: {onZero: true},
                                        data: {{ post|post_date:"post_date"|safe}}
                                    }
                                ],
                                yAxis : [
                                    {
                                        name : '数量',
                                        type : 'value'
                                    }
                                ],
                                series : [
                                    {
                                        name:'发帖数',
                                        type:'line',
                                        symbolSize: 5,
                                        hoverAnimation: false,
                                        data: {{ post|post_date:"post_date_num" }}
                                    }
                                ]
                            };
                            myChart.setOption(option);
                        </script><br>

                        <div id="post_hour" class="chart"></div>
                        <script type="text/javascript">
                            var myChart = echarts.init(document.getElementById('post_hour'));

                            option = {
                                title: {
                                    text: '一天各时段发帖总数量',
                                    x: 'center'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                toolbox: {
                                    feature: {
                                        dataView: {show: true, readOnly: false},
                                        magicType: {show: true, type: ['line', 'bar']},
                                        restore: {show: true},
                                        saveAsImage: {show: true}
                                    }
                                },
                                xAxis: [
                                    {
                                        name : '时间',
                                        type: 'category',
                                        data: ['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00', '10:00',
                                            '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                                        axisLabel :{
                                                interval:0
                                            }
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: 'value',
                                        name: '数量'
                                    }
                                ],
                                series: [
                                    {
                                        name: '发帖数',
                                        type: 'bar',
                                        data: {{ post|post_num:'post_hour_num' }}
                                    },
                                ]
                            };

                            myChart.setOption(option);
                        </script><br>

                        <div id="post_weekday" class="chart"></div>
                        <script type="text/javascript">
                            var myChart = echarts.init(document.getElementById('post_weekday'));

                            option = {
                                title: {
                                    text: '一周每天发帖总数量',
                                    x: 'center'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                toolbox: {
                                    feature: {
                                        dataView: {show: true, readOnly: false},
                                        magicType: {show: true, type: ['line', 'bar']},
                                        restore: {show: true},
                                        saveAsImage: {show: true}
                                    }
                                },
                                xAxis: [
                                    {
                                        name : '星期',
                                        type: 'category',
                                        data: ['星期一','星期二','星期三','星期四','星期五','星期六','星期日'],
                                        axisLabel :{
                                                interval:0
                                            }
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: 'value',
                                        name: '数量'
                                    }
                                ],
                                series: [
                                    {
                                        name: '发帖数',
                                        type: 'bar',
                                        data: {{ post|post_num:'post_weekday_num' }}
                                    }
                                ]
                            };

                            myChart.setOption(option);
                        </script><br>

                        <div id="post_day" class="chart"></div>
                        <script type="text/javascript">
                            var myChart = echarts.init(document.getElementById('post_day'));

                            option = {
                                title: {
                                    text: '一月每天发帖总数量',
                                    x: 'center'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                toolbox: {
                                    feature: {
                                        dataView: {show: true, readOnly: false},
                                        magicType: {show: true, type: ['line', 'bar']},
                                        restore: {show: true},
                                        saveAsImage: {show: true}
                                    }
                                },
                                xAxis: [
                                    {
                                        name : '日期',
                                        type: 'category',
                                        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16',
                                            '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31'],
                                        axisLabel :{
                                                interval:0
                                            }
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: 'value',
                                        name: '数量'
                                    }
                                ],
                                series: [
                                    {
                                        name:'发帖数',
                                        type:'bar',
                                        data: {{ post|post_num:'post_day_num' }}
                                    }
                                ]
                            };

                            myChart.setOption(option);
                        </script><br>

                        <div id="post_month" class="chart"></div>
                        <script type="text/javascript">
                            var myChart = echarts.init(document.getElementById('post_month'));

                            option = {
                                title: {
                                    text: '一年每月发帖总数量',
                                    x: 'center'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                toolbox: {
                                    feature: {
                                        dataView: {show: true, readOnly: false},
                                        magicType: {show: true, type: ['line', 'bar']},
                                        restore: {show: true},
                                        saveAsImage: {show: true}
                                    }
                                },
                                xAxis: [
                                    {
                                        name : '月份',
                                        type: 'category',
                                        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
                                        axisLabel :{
                                                interval:0
                                            }
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: 'value',
                                        name: '数量'
                                    }
                                ],
                                series: [
                                    {
                                        name:'发帖数',
                                        type:'bar',
                                        data: {{ post|post_num:'post_month_num' }}
                                    }
                                ]
                            };

                            myChart.setOption(option);
                        </script><br>

                        <div id="post_yaer" class="chart"></div>
                        <script type="text/javascript">
                            var myChart = echarts.init(document.getElementById('post_yaer'));

                            option = {
                                title: {
                                    text: '每年发帖总数量',
                                    x: 'center'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                toolbox: {
                                    feature: {
                                        dataView: {show: true, readOnly: false},
                                        magicType: {show: true, type: ['line', 'bar']},
                                        restore: {show: true},
                                        saveAsImage: {show: true}
                                    }
                                },
                                xAxis: [
                                    {
                                        name : '年份',
                                        type: 'category',
                                        data: ['2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016'],
                                        axisLabel :{
                                                interval:0
                                            }
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: 'value',
                                        name: '数量'
                                    }
                                ],
                                series: [
                                    {
                                        name:'发帖数',
                                        type:'bar',
                                        data: {{ post|post_num:'post_year_num' }}
                                    }
                                ]
                            };

                            myChart.setOption(option);
                        </script><br>
                    </div>
                {% endif %}

                <div class="col-md-12 column">
                    <br><span id="headline-1">跟帖数据</span><br><br>
                </div>
                <HR  width="94%" color=#987cb9>
                {% if user_info.comment_num == 0 %}
                    <dl>
                        <dd id="bbs_art">&nbsp;该用户很懒，还没有跟帖数据。</dd>
                    </dl>
                {% else %}
                    <dl>
                        <dd id="bbs_art">&nbsp;跟帖总数:&nbsp;&nbsp;&nbsp;{{ user_info.comment_num }}篇</dd>
                        <dd id="bbs_art">&nbsp;最近一篇:&nbsp;&nbsp;&nbsp;<a href={{ last_comment.url }} target="_blank">{{ last_comment.title }}</a></dd>
                    </dl>
                    <br>
                    <div class="col-md-12 column">
                        <div id="comment_date" class="chart"></div>
                        <script type="text/javascript">
                            var myChart = echarts.init(document.getElementById('comment_date'));

                            option = {
                                title: {
                                    text: '跟帖时间分布',
                                    x: 'center'
                                },
                                tooltip: {
                                    trigger: 'axis',
                                    axisPointer: {
                                        animation: false
                                    }
                                },
                                legend: {
                                    data:['跟帖数'],
                                    x: 'left'
                                },
                                toolbox: {
                                    feature: {
                                        dataZoom: {
                                            yAxisIndex: 'none'
                                        },
                                        restore: {},
                                        saveAsImage: {}
                                    }
                                },
                                dataZoom: [
                                    {
                                        show: true,
                                        realtime: true,
                                        start: 0,
                                        end: 100
                                    }
                                ],
                                xAxis : [
                                    {
                                        name : '日期',
                                        type : 'category',
                                        boundaryGap : false,
                                        axisLine: {onZero: true},
                                        data: {{ comment|post_date:"comment_date"|safe}}
                                    }
                                ],
                                yAxis : [
                                    {
                                        name : '数量',
                                        type : 'value'
                                    }
                                ],
                                series : [
                                    {
                                        name:'跟帖数',
                                        type:'line',
                                        symbolSize: 5,
                                        hoverAnimation: false,
                                        data: {{ comment|post_date:"comment_date_num" }}
                                    }
                                ]
                            };
                            myChart.setOption(option);
                        </script><br>


                        <div id="comment_hour" class="chart"></div>
                        <script type="text/javascript">
                            var myChart = echarts.init(document.getElementById('comment_hour'));

                            option = {
                                title: {
                                    text: '一天各时段跟帖总数量',
                                    x: 'center'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                toolbox: {
                                    feature: {
                                        dataView: {show: true, readOnly: false},
                                        magicType: {show: true, type: ['line', 'bar']},
                                        restore: {show: true},
                                        saveAsImage: {show: true}
                                    }
                                },
                                xAxis: [
                                    {
                                        name : '时间',
                                        type: 'category',
                                        data: ['0:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00', '10:00',
                                            '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                                        axisLabel :{
                                                interval:0
                                            }
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: 'value',
                                        name: '数量'
                                    }
                                ],
                                series: [
                                    {
                                        name: '跟帖数',
                                        type: 'bar',
                                        data: {{ comment|post_num:'comment_hour_num' }}
                                    },
                                ]
                            };

                            myChart.setOption(option);
                        </script><br>

                        <div id="comment_weekday" class="chart"></div>
                        <script type="text/javascript">
                            var myChart = echarts.init(document.getElementById('comment_weekday'));

                            option = {
                                title: {
                                    text: '一周每天跟帖总数量',
                                    x: 'center'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                toolbox: {
                                    feature: {
                                        dataView: {show: true, readOnly: false},
                                        magicType: {show: true, type: ['line', 'bar']},
                                        restore: {show: true},
                                        saveAsImage: {show: true}
                                    }
                                },
                                xAxis: [
                                    {
                                        name : '星期',
                                        type: 'category',
                                        data: ['星期一','星期二','星期三','星期四','星期五','星期六','星期日'],
                                        axisLabel :{
                                                interval:0
                                            }
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: 'value',
                                        name: '数量'
                                    }
                                ],
                                series: [
                                    {
                                        name: '跟帖数',
                                        type: 'bar',
                                        data: {{ comment|post_num:'comment_weekday_num' }}
                                    }
                                ]
                            };

                            myChart.setOption(option);
                        </script><br>

                        <div id="comment_day" class="chart"></div>
                        <script type="text/javascript">
                            var myChart = echarts.init(document.getElementById('comment_day'));

                            option = {
                                title: {
                                    text: '一月每天跟帖总数量',
                                    x: 'center'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                toolbox: {
                                    feature: {
                                        dataView: {show: true, readOnly: false},
                                        magicType: {show: true, type: ['line', 'bar']},
                                        restore: {show: true},
                                        saveAsImage: {show: true}
                                    }
                                },
                                xAxis: [
                                    {
                                        name : '日期',
                                        type: 'category',
                                        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16',
                                            '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31'],
                                        axisLabel :{
                                                interval:0
                                            }
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: 'value',
                                        name: '数量'
                                    }
                                ],
                                series: [
                                    {
                                        name:'跟帖数',
                                        type:'bar',
                                        data: {{ comment|post_num:'comment_day_num' }}
                                    }
                                ]
                            };

                            myChart.setOption(option);
                        </script><br>

                        <div id="comment_month" class="chart"></div>
                        <script type="text/javascript">
                            var myChart = echarts.init(document.getElementById('comment_month'));

                            option = {
                                title: {
                                    text: '一年每月跟帖总数量',
                                    x: 'center'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                toolbox: {
                                    feature: {
                                        dataView: {show: true, readOnly: false},
                                        magicType: {show: true, type: ['line', 'bar']},
                                        restore: {show: true},
                                        saveAsImage: {show: true}
                                    }
                                },
                                xAxis: [
                                    {
                                        name : '月份',
                                        type: 'category',
                                        data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
                                        axisLabel :{
                                                interval:0
                                            }
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: 'value',
                                        name: '数量'
                                    }
                                ],
                                series: [
                                    {
                                        name:'跟帖数',
                                        type:'bar',
                                        data: {{ comment|post_num:'comment_month_num' }}
                                    }
                                ]
                            };

                            myChart.setOption(option);
                        </script><br>

                        <div id="comment_yaer" class="chart"></div>
                        <script type="text/javascript">
                            var myChart = echarts.init(document.getElementById('comment_yaer'));

                            option = {
                                title: {
                                    text: '每年跟帖总数量',
                                    x: 'center'
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                toolbox: {
                                    feature: {
                                        dataView: {show: true, readOnly: false},
                                        magicType: {show: true, type: ['line', 'bar']},
                                        restore: {show: true},
                                        saveAsImage: {show: true}
                                    }
                                },
                                xAxis: [
                                    {
                                        name : '年份',
                                        type: 'category',
                                        data: ['2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016'],
                                        axisLabel :{
                                                interval:0
                                            }
                                    }
                                ],
                                yAxis: [
                                    {
                                        type: 'value',
                                        name: '数量'
                                    }
                                ],
                                series: [
                                    {
                                        name:'跟帖数',
                                        type:'bar',
                                        data: {{ comment|post_num:'comment_year_num' }}
                                    }
                                ]
                            };

                            myChart.setOption(option);
                        </script>
                    </div>
                {% endif %}

            </div>
        </div>
    </body>
</html>