{% load staticfiles %}
{% load data_extras %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>北邮人论坛数据</title>
        <link rel="icon" sizes="any" mask="" href="{% static 'byrbbs/images/logo_title.png' %}">
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    </head>

    <body style="height: 100%">
        <b style="color: #B03A5B;font-size: 20px;height: 40px;line-height: 40px;">全国北邮人论坛用户数</b>
        <hr style="	border-top:1px ridge #cbcbcb;margin-top: 0px;margin-right: 3%;"/>

        <div id="china_map" style="height: 800px;max-width: 97%;"></div>
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('china_map'));

            option = {
                title: {
                    text: '全国各地区用户分布',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data:['用户数']
                },
                visualMap: {
                    min: 0,
                    max: 2500,
                    left: 'left',
                    top: 'bottom',
                    text: ['高','低'],           // 文本，默认为数值文本
                    calculable: true,
                    inRange: {
                        color: ['#50a3ba', '#eac736', '#d94e5d']
                    }
                },
                toolbox: {
                    show: true,
                    orient: 'vertical',
                    left: 'right',
                    top: 'center',
                    feature: {
                        dataView: {readOnly: false},
                        restore: {},
                        saveAsImage: {}
                    }
                },
                series: [
                    {
                        name: '用户数',
                        type: 'map',
                        mapType: 'china',
                        roam: false,
                        label: {
                            normal: {
                                show: true
                            },
                            emphasis: {
                                show: true
                            }
                        },
                        data:{{ data_info|province_value|safe}}
                    }
                ]
            };

            myChart.setOption(option);
        </script>

        <div id="china_bar" style="max-width: 97%;height: 600px;"></div>
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('china_bar'));

            var option = {
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    legend: {
                        data:['男生','女生','全部']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : ['广东', '天津', '河北', '上海', '浙江', '山东', '江苏', '四川', '河南', '陕西', '辽宁', '山西', '福建', '湖北', '安徽', '湖南', '黑龙江', '江西', '香港', '重庆', '吉林', '广西', '内蒙古', '云南', '甘肃', '贵州', '海南', '新疆', '宁夏', '青海', '台湾', '西藏', '澳门'],
                            axisLabel :{
                                interval:0
                            }
                        }
                    ],
                    yAxis : [
                        {
                            name: '用户数/人',
                            type: 'value'
                        }
                    ],
                    series : [
                        {
                            name:'男生',
                            type:'bar',
                            barGap:'0%',
                            data:{{ data_info|province_info:'boy' }},
                            itemStyle: {
                                normal: {
                                    color: '#61a0a8'
                                }
                            }
                        },
                        {
                            name:'女生',
                            type:'bar',
                            barGap:'0%',
                            data:{{ data_info|province_info:'girl' }},
                            itemStyle: {
                                normal: {
                                    color: '#c23531'
                                }
                            }
                        },
                        {
                            name:'全部',
                            type:'bar',
                            barGap:'0%',
                            data:{{ data_info|province_info:'all' }},
                            itemStyle: {
                                normal: {
                                    color: '#6e7074'
                                }
                            }
                        }
                    ]
                };

            myChart.setOption(option);
        </script>


    </body>
</html>