{% load staticfiles %}
{% load data_extras %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>北邮人论坛数据</title>
        <link rel="icon" sizes="any" mask="" href="{% static 'byrbbs/images/logo_title.png' %}">
    </head>

    <body style="height: 100%">
        <b style="color: #B03A5B;font-size: 20px;height: 40px;line-height: 40px;">论坛数据介绍</b>
        <hr style="	border-top:1px ridge #cbcbcb;margin-top: 0px;margin-right: 3%;"/>

        <div id="china_map" style="height: 800px;max-width: 97%;"></div>

    </body>
</html>